<?xml version="1.0"?>
<launch>

<arg name="model" default="$(find autonomous_car_description)/urdf/autonomous_car.urdf"/>
<arg name="gui" default="true"/>

<param name="robot_description" command="cat '$(find autonomous_car_description)/urdf/autonomous_car.urdf'"/>
<param name="use_gui" value="$(arg gui)"/>

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

<node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_tutorial)/urdf.rviz" required="true" />

 
</launch>
